body {
    color: #444;
}

label {
    width: 7.5em;
    display: inline-block;
    text-align: right;
}

input[type="text"], input[type="number"]
{
    width: 5em;
}

input[type="submit"]
{
    align: right;
}

input.timestamp
{
    width: 13em;
}

body {
    background-color: powderblue;
}

h1 {
    color: #555;
}

#data {
    border-collapse: collapse;
}

#data td,
#data th {
    border: 1px solid #999;
    padding: 2px;
}

#data th {
    font-size: x-small;
}

#data {
    display: inline-block;
    vertical-align: top;
}

#input-form {
    display: inline-block;
    margin-right: 18px;
}

#input-form div {
    margin: 3px;
}

table, th, td {
    border: 1px solid #eaeaea;
}

tr:nth-child(even) {
    background-color: #eaeaea;
}
tr:nth-child(odd) {
    background-color: #ffcccc;
}